<h2>{{ title }}</h2>
<h3>Jefe</h3>
<ul>
  <li>Nombre: {{ jefe.nombre }}</li>
  <li>Edad: {{ jefe.edad }}</li>
  <li *ngIf="jefe.edad>=18">Mayor de edad</li>
  <li *ngIf="jefe.edad<18">Menor de edad</li>
  <li>Cargo: {{ jefe.cargo }}</li>
  <li *ngIf="jefe.contratado">Esta contratado</li>
  <li *ngIf="!jefe.contratado">No esta contratado</li>
  <li>Contratado: {{ jefe.contratado }}</li>
</ul>
<h3>Empleado</h3>
<ul>
  <li>Nombre: {{ empleados[0].nombre }}</li>
  <li>Edad: {{ empleados[0].edad }}</li>
  <li>Cargo: {{ empleados[0].cargo }}</li>
  <li>Contratado: {{ empleados[0].contratado }}</li>
</ul>
