<h4>{{ title }}</h4>
<!-- Para definir un nombre se usa # en formulario -->
<!-- Capturar el evento submit con el metodo onSubmit() -->
<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label>Marca:</label>
    	<!-- Para vincular el objeto coche del componente con el formulario es 
			necesario agregar #marca para vincular con la propiedad 
			y [(ngModel)] que permite modificar la    propiedad del objeto -->
		<input type="text" name="marca" class="form-control"
		      #marca="ngModel" [(ngModel)]="coche.marca" required>
	</div>
	<div class="form-group">
		<label>Precio:</label>
		<input type="text" name="precio" class="form-control"
				#precio="ngModel" [(ngModel)]="coche.precio" required>
	</div>
	<div class="form-group">
		<label>Color:</label>
		<input type="text" name="color" class="form-control"
				#color="ngModel" [(ngModel)]="coche.color" required>
	</div>
	<input type="submit" class="btn btn-primary" value="Guardar">
</form>