<div style="text-align:center">
  <h1> {{title}} </h1>
</div>
<hr/>
<!-- Definir un menu -->
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio</a> | 
  <a [routerLink]="['/hola']" [routerLinkActive]="['activado']">Hola Mundo</a> |
  <a [routerLink]="['/persona']" [routerLinkActive]="['activado']">Propiedades</a> |
  <a [routerLink]="['/curso']" [routerLinkActive]="['activado']">Directivas</a> |
  <a [routerLink]="['/estilo']" [routerLinkActive]="['activado']">Directivas de estilos</a> |
  <a [routerLink]="['/parametros', 'Juan']" [routerLinkActive]="['activado']">Parametros</a> |
</nav>
<hr/>
<!-- app-hola></app-hola -->
<!-- app-persona></app-persona -->
<!-- app-empleado></app-empleado -->
<!-- app-curso></app-curso -->
<!-- app-estilo></app-estilo -->
<!-- Dentro de router-outlet se carga el componente -->
<!-- de la url solicitada -->
<router-outlet></router-outlet>