<h2>{{ title }}</h2>
<h3>Profesor</h3>
<button type="button" (click)="cambiarEstado(false)">
    Ocultar Datos
</button>
<button type="button" (click)="cambiarEstado(true)">
    Mostrar Datos
</button>  
<div *ngIf="mostrarDatos">  
    <ul>
        <li>Nombre: {{ profesor.nombre }}</li>
        <li>Sueldo: {{ profesor.sueldo }}</li> 
        <li *ngIf="profesor.sueldo >= 2000">Su sueldo es mayor al minimo nacional</li>
        <li *ngIf="profesor.sueldo < 2000">Su sueldo es menor al minimo nacional</li>
        <li>Contratado: {{ profesor.contratado }}</li>
        <li *ngIf="profesor.contratado">Esta contratado</li>
        <li *ngIf="!profesor.contratado">No esta contratado</li>
    </ul>
</div>
<h3>Lista de Estudiantes</h3>
<table border="1">
    <thead>
      <tr>
        <th>Indice</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let est of estudiantes; let i=index">
        <td>{{ i }}</td>
        <td>{{ est.nombre }}</td>
        <td>{{ est.edad }}</td>
        <td>{{ est.nota }}</td>
      </tr>
    </tbody>
 </table>
  